/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LAYER1   1
#define LAYER2   2
#define LAYER3   3
/* todo
- figure out where to put BT_CLR
- for L1 add a mod layer shift, if tap layer 1, if held engage layer 3
*/


//special behaviors
/ {
    behaviors {
        lt_lh: layer_tap_layer_hold {
                compatible = "zmk,behavior-hold-tap";
                label = "LAYER_TAP_LAYER_HOLD";
                #binding-cells = <2>;
                bindings = <&mo>, <&to>;
                tapping-term-ms = <200>;
        };
        gresc: grave_escape {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LGUI|MOD_LSFT|MOD_RGUI|MOD_RSFT)>;
        };
        fsl_bsl: forward_backward_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp BSLH>;
            mods = <(MOD_LGUI|MOD_LSFT)>;
        };
    };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | esc |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | ctrl/tab |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | shft/DEL|  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | LST/RET|
//                    | GUI | SPC | L0 |   | L1 | SPC  | ALT |
                        display-name = "Base";
                        bindings = <
   &kp ESC   &kp Q &kp W &kp E &kp R &kp T   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
   &mt LCTRL TAB &kp A &kp S &kp D &kp F &kp G   &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
   &mt LSHFT DEL &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &mt LSHFT RET
                  &kp LGUI &kp SPACE &to 0    &lt_lh 3 1 &kp SPACE &kp RALT
                        >;
                };
                LAYER1 {
// -----------------------------------------------------------------------------------------
// |  ~   |  1  |  2  |  3  |  4  |  5        |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | ctrl/tab |PgUp|Home|LtDesk|AllDesk|RtDesk|   |     | Left|  UP | RGT |Home |      |
// | shft/DEL |PgDn|End |     |     |         |   |     |     |Down |  .  |End  | RET  |
//                    | GUI | SPC | L0  |   |  L2 | SPC | ALT |
                        display-name = "Layer 1";
                        bindings = <
   &kp TILDE      &kp N1      &kp N2     &kp N3       &kp N4     &kp N5         &kp N6  &kp N7   &kp N8   &kp N9    &kp N0    &kp BSPC
   &mt LCTRL TAB  &kp PG_UP   &kp HOME   &kp LC(LEFT) &kp LC(UP) &kp LC(RIGHT)  &trans  &kp LEFT &kp UP   &kp DOWN  &kp RIGHT &trans
   &mt LSHFT DEL  &kp PG_DN   &kp END    &trans       &trans     &trans         &trans  &trans   &trans   &trans    &trans    &trans
                    &kp LGUI     &kp SPACE    &to 0  &lt_lh 3 2  &kp SPACE  &kp RALT
                        >;
                };

                LAYER2 {
// -----------------------------------------------------------------------------------------
// |  ~   |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | ctrl/tab  |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | shft/DEL  |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  RET |
//                    | GUI | SPC | L0  |   |  L3 | SPC | ALT |
                        display-name = "Layer 2";
                        bindings = <
   &kp TILDE  &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &mt LCTRL TAB &trans   &trans &trans   &trans   &trans      &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp GRAVE
   &mt LSHFT DEL &trans   &trans &trans   &trans   &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp RET
                    &kp LGUI     &kp SPACE    &to 0  &lt_lh 3 3 &kp SPACE  &kp RALT
                        >;
                };

                LAYER3 {
// -----------------------------------------------------------------------------------------
// |      | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |  F1 |  F2 |  F3 |  F4 | F5   |
// |ctrl/tab|     |     |     |     |   |   |     |  F6 |  F7 |  F8 |  F9 | F10  |
// |shft/DEL|     |MNext| Vol-|Vol+ |     |   |     |  F11|  F12|     |     | RET  |
//                    | GUI | SPC | L0  |   |     | SPC | ALT |
                        display-name = "Layer 3";
                        bindings = <
   &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4         &trans  &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   
   &mt LCTRL TAB    &trans   &trans   &trans   &trans   &trans        &trans  &kp F6   &kp F7   &kp F8   &kp F9   &kp F10   
   &mt LSHFT DEL  &kp K_NEXT &kp C_VOL_DN   &kp C_VOL_UP &kp K_PP &trans        &trans  &kp F11   &kp F12   &trans   &trans   &kp RET   
                    &kp LGUI     &kp SPACE    &to 0  &to 3  &kp SPACE  &kp RALT
                        >;
                };
        };
};
